@font-face {
    font-family: "Big Caslon";
    src: url("fonts/BigCaslonRegular.otf") format("otf")
}

@font-face {
    font-family: "Lucida Grande";
    src: url("fonts/LucidaGrande.ttf") format("ttf")
}

@font-face {
    font-family: "Nanum Myeongjo";
    src: url("fonts/NanumMyeongjo-Regular.ttf") format("ttf")
}

.first-page {
    height: 100vh;
}

/* nav */

nav {
    height: 140px;
    padding: 0 40px;
    max-width: 1200px;
    margin: auto;
}

.logo {
    float: left;
    margin-top: 40px;
}

.name {
    font-size: 30px;
    font-family: "Big Caslon";
}

.role {
    font-size: 15px;
    font-family: "Nanum Myeongjo", sans-serif;
    color: rgba(0, 0, 0, .34);
}

.nav-links {
    float: right;
    display: flex;
}

.nav-links a {
    margin: 0 20px;
    margin-top: 40px;
    font-size: 15px;
    color: #222222;
    text-decoration: none;
    font-family: "Sinhala Sangam MN", sans-serif;
}

.nav-links a::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: #222222;
    transition: width 0.4s;
}

.nav-links a:hover::after {
    width: 100%;
    transition: width 0.4s;
}

.mobile-menu {
    display: none;
    width: 40px;
    float: right;
    margin-top: 35px;
}

/* main */

.man-svg {
    height: calc(65vh - 140px);
    /* vh - nav */
    width: auto;
    margin: 0 auto;
    display: block;
}

.credit {
    text-align: center;
    font-size: 14px;
    font-family: "Lucida Grande";
    color: rgba(0, 0, 0, .34);
}

.bottom-text {
    margin-top: 40px;
    text-align: center;
    font-family: "applegothic", sans-serif;
    font-size: 30px;
    color: #222222;
    padding: 0 30px;
}

/* colors */

.black {
    color: #222222;
}

.gray {
    color: #dddddd;
}

/* etc */

body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

/* queries */

@media screen and (max-width: 750px) {
    .nav-links {
        display: none;
    }
    .mobile-menu {
        display: block;
    }
    .name {
        font-size: 24px;
    }
    .role {
        font-size: 12px;
    }
    .bottom-text {
        font-size: 24px;
    }
}